body {
  margin: 0;

  background: linear-gradient(135deg, #667eea, #764ba2);

  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-height: 100vh;

  display: flex;

  flex-direction: column;

  justify-content: flex-start;

  align-items: center;

  gap: 30px;

  padding-top: 40px;
}

.form-card {
  background: white;

  width: 100%;

  max-width: 450px;

  padding: 30px;

  border-radius: 20px;

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.result-card {
  margin: 20px;

  background: white;

  width: 100%;

  max-width: 450px;

  padding: 30px;

  border-radius: 20px;

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);

  animation: fadeIn 0.4s ease-in-out;
}

.result-card h2 {
  color: #667eea;

  margin-bottom: 20px;
}

.result-item {
  display: flex;

  justify-content: space-between;

  align-items: center;

  background: #f7f7f7;

  padding: 15px;

  margin-top: 12px;

  border-radius: 10px;
}

.result-item span {
  color: #555;

  font-weight: 600;
}

.result-item strong {
  color: #764ba2;

  font-size: 18px;
}

@keyframes fadeIn {
  from {
    opacity: 0;

    transform: translateY(20px);
  }

  to {
    opacity: 1;

    transform: translateY(0);
  }
}

h1 {
  text-align: center;

  color: white;

  margin-bottom: 20px;
}

h2 {
  text-align: center;

  color: #333;
}

label {
  font-weight: 600;

  display: block;

  margin-top: 15px;

  color: #444;
}

input,
select {
  width: 100%;

  padding: 12px;

  margin-top: 6px;

  border-radius: 8px;

  border: 1px solid #ccc;

  font-size: 15px;

  box-sizing: border-box;
}

input:focus,
select:focus {
  outline: none;

  border-color: #667eea;
}

button {
  margin-top: 25px;

  width: 100%;

  padding: 14px;

  border: none;

  border-radius: 10px;

  background: linear-gradient(135deg, #667eea, #764ba2);

  color: white;

  font-size: 16px;

  font-weight: bold;

  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

/* Mobile Responsive */

@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  .form-card {
    padding: 20px;
  }

  h1 {
    font-size: 24px;
  }
}

/* Fix Toastify close button position */
.Toastify__toast {
  display: flex !important;
  align-items: center !important;
}


.Toastify__toast-container {
  z-index: 9999;
}


.Toastify__close-button {
  margin-left: auto !important;
  align-self: center !important;
  position: relative !important;
  right: auto !important;
  top: auto !important;
  transform: none !important;
}


.Toastify__toast-body {
  flex: 1;
}